$colors: (
  'accent': rgba(219, 99, 0, 1),
  'primary-bg': #fff8f5,
  'primary-text': rgba(85, 85, 85, 1),
  'fb-icon': #2e40e353,
  'github-icon': #45474694,
);

//приклад вставтляння кольору:: color: getColor('primary-text');

@function getColor($key) {
  @return map-get($colors, $key);
}

:root {
  --bounce: 0.2s cubic-bezier(0.3, 0.3, 0.3, 1);
  --ease: 0.12s cubic-bezier(0.3, 0.3, 0.3, 1);
  --common: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
// transition: var(--bounce) 0.1s;
