$colors: (
  'accent': rgba(219, 99, 0, 1),
  //   'primary-bg': rgba(41, 46, 54, 1),
  'extra-bg': rgba(255, 252, 246, 1),
  //   'reservation-bg': rgba(41, 46, 54, 0.95),
  //   'border': rgba(92, 97, 104, 1),
  'primary-text': rgba(85, 85, 85, 1),
  //   'white': rgba(255, 255, 255, 1),
  //   'backdrop': rgba(0, 0, 0, 0.2),
  //   'input': rgba(133, 133, 133, 1),,,,,
);

//приклад вставтляння кольору:: color: getColor('primary-text');

@function getColor($key) {
  @return map-get($colors, $key);
}

:root {
  --bounce: 0.2s cubic-bezier(0.3, 0.3, 0.3, 1);
  --ease: 0.12s cubic-bezier(0.3, 0.3, 0.3, 1);
  --common: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
// transition: var(--bounce) 0.1s;
