<section id="#about-me">
  <div class="container">
    <h2 class="title">Why would you choose me?</h2>
    <p class="about-me__text">
      It can be difficult to find the right person. But if you are here, then
      you have found her. I really enjoy coding. Here are a few of my strong
      suits:
    </p>
    <div class="cont s--inactive">
      <!-- cont inner start -->
      <div class="cont__inner">
        <!-- el start -->
        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">Punctuality</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                  I don't put something off until later. I will complete the
                  task on time or even earlier.
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- el end -->
        <!-- el start -->
        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">Courage</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                  I am not afraid of difficult tasks. I believe that there is a
                  way out of any situation.
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- el end -->
        <!-- el start -->
        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">Responsibility</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                  You can be sure that I will do my best and you will be
                  satisfied with the result.
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- el end -->
        <!-- el start -->
        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">Learn quickly</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                  I agree with the opinion that you need to study throughout
                  your life and especially in this sphere.
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- el end -->
        <!-- el start -->
        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">Work in a team</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                  I like to work in a team, I respect the opinions of others and
                  I am not a conflict person
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- el end -->
      </div>
      <!-- cont inner end -->
    </div>
    <ul class="about-me__for-mobile">
      <li>
        <h3 class="about-me__title">Punctuality</h3>
        <p class="about-me__discriptions">
          I don't put something off until later. I will complete the task on
          time or even earlier.
        </p>
      </li>
      <li>
        <h3 class="about-me__title">Courage</h3>
        <p class="about-me__discriptions">
          I am not afraid of difficult tasks. I believe that there is a way out
          of any situation.
        </p>
      </li>
      <li>
        <h3 class="about-me__title">Responsibility</h3>
        <p class="about-me__discriptions">
          You can be sure that I will do my best and you will be satisfied with
          the result.
        </p>
      </li>
      <li>
        <h3 class="about-me__title">Ability to learn quickly</h3>
        <p class="about-me__discriptions">
          I agree with the opinion that you need to study throughout your life,
          and especially in this sphere.
        </p>
      </li>
      <li>
        <h3 class="about-me__title">Work in a team</h3>
        <p class="about-me__discriptions">
          I like to work in a team, I respect the opinions of others and I am
          not a conflict person
        </p>
      </li>
    </ul>
  </div>
</section>
