<footer id="contact">
  <div class="container">
    <h2 class="visually-hidden">Contact me</h2>
    <h3 class="contact__text">
      Let me know if you want to talk about a potential collaboration
    </h3>

    <ul class="contact__items">
      <li class="contact__item">
        <a
          class="contact__link"
          href="https://www.facebook.com/svitlana.olijnyk"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            srcset="./images/contact/fb.png 1x, ./images/contact/fb@2x.png 2x"
            src="./images/contact/fb.png"
            alt="facebook"
            width="80"
            height="80"
          />
        </a>
      </li>
      <li class="contact__item">
        <a
          class="contact__link"
          href="https://github.com/oliinyks"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            srcset="./images/contact/git.png 1x, ./images/contact/git@2x.png 2x"
            src="./images/contact/fb.png"
            alt="github"
            width="80"
            height="80"
        /></a>
      </li>
    </ul>
  </div>
</footer>
