<header>
  <div class="container">
    <nav class="menu">
      <ul class="menu__items">
        <li class="menu__item"><a class="menu__link" href="#">About me</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Skills</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Portfolio</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="mobile-menu">
      <input type="checkbox" id="toggle" />
      <label class="mobile-menu__label" for="toggle">
        <svg viewbox="0 0 100 100" width="100%" height="100%">
          <circle r="45" cx="50" cy="50"></circle>
        </svg>
        <div class="hamburger">
          <div class="center"></div>
        </div>
      </label>

      <nav class="mobile-menu__list">
        <ul class="mobile-menu__items">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">About me</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">Skills</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">Portfolio</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
