<section class="hero">
  <div class="container hero__box">
    <div class="hero__info">
      <h1 class="hero__title title">
        Hello <br />
        I’m <span>Svitlana Oliinyk</span>
      </h1>
      <p class="hero__text">
        I've been doing front-end development for a year. Do you need an
        incredible website? Then contact me
      </p>
      <a class="button" href="#">Contact me</a>
    </div>
    <div class="hero__photo">
      <img src="./images/hero/hero.png" alt="Svitlana's photo" />
    </div>
  </div>
</section>
