<section id="portfolio">
  <div class="container">
    <h2 class="title">Portfolio</h2>
    <div class="portfolio__wrapper">
      <ul class="portfolio__items">
        <li class="portfolio__item">
          <a
            class="portfolio__link"
            href="https://oliinyks.github.io/TasteEat/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <h3 class="portfolio__title">Restaurant website</h3>
            <p>HTML/SCSS/JS</p>
          </a>
        </li>
        <li class="portfolio__item">
          <a
            class="portfolio__link"
            href="https://oliinyks.github.io/features/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <h3 class="portfolio__title">Various animations</h3>
            <p>HTML/SCSS/JS</p>
          </a>
        </li>
        <li class="portfolio__item">
          <a
            class="portfolio__link"
            href="https://oliinyks.github.io/search/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <h3 class="portfolio__title">Photo search engine</h3>
            <p>HTML/SCSS/JS</p>
          </a>
        </li>
        <li class="portfolio__item">
          <a
            class="portfolio__link"
            href="https://oliinyks.github.io/Furniture-collection/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <h3 class="portfolio__title">Furniture website</h3>
            <p>HTML/SCSS</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
