<section id="skills">
  <div class="container">
    <h2 class="title">Skills</h2>
    <ul class="skills__items">
      <li class="skills__item">
        <img
          class="skills__img"
          src="./images/skills/html.png"
          alt="html"
          width="100"
          height="100"
        />
      </li>
      <li class="skills__item">
        <img
          class="skills__img"
          src="./images/skills/css.png"
          alt="css"
          width="100"
          height="100"
        />
      </li>
      <li class="skills__item">
        <img
          class="skills__img"
          src="./images/skills/sass.png"
          alt="sass"
          width="100"
          height="100"
        />
      </li>
      <li class="skills__item">
        <img
          class="skills__img"
          src="./images/skills/js.png"
          alt="js"
          width="100"
          height="100"
        />
      </li>
      <li class="skills__item">
        <img
          class="skills__img"
          src="./images/skills/github.png"
          alt="github"
          width="100"
          height="100"
        />
      </li>
    </ul>

    <h3 class="skills__title">What I am learning now</h3>
    <ul class="skills__in-process">
      <li class="skills__in-process-item">
        <img
          class="skills__img"
          src="./images/skills/react.png"
          alt="react"
          width="100"
          height="100"
        />
      </li>
      <li class="skills__in-process-item">
        <img
          class="skills__img"
          src="./images/skills/node.png"
          alt="node"
          width="100"
          height="100"
        />
      </li>
    </ul>
  </div>
</section>
