.skills__items {
  display: flex;
  flex-wrap: wrap;
  margin: -20px -20px 30px -20px;
  justify-content: space-around;
}

.skills__item {
  margin: 20px;
  animation: float 5s ease-in-out infinite;
  &:nth-of-type(1) {
    animation-delay: 1s;
  }
  &:nth-of-type(2) {
    animation-delay: 2s;
  }
  &:nth-of-type(3) {
    animation-delay: 3s;
  }
  &:nth-of-type(4) {
    animation-delay: 4s;
  }
  &:nth-of-type(5) {
    animation-delay: 5s;
  }
}
.skills__title {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
.skills__in-process {
  display: flex;
  justify-content: center;
  margin: -20px;
}

.skills__in-process-item {
  margin: 20px;
  animation: float 5s ease-in-out infinite;
  &:nth-of-type(1) {
    animation-delay: 1s;
  }
  &:nth-of-type(2) {
    animation-delay: 2s;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
